@charset "utf-8";

.container{
  width: 80%;
  margin: 0 auto;
}

body{
  background-color: #060322;
}
h1 {
  color: rgb(60, 55, 55);
}
main{
  padding-top: 5px;
  height: 80vh;
}

nav{
  display: flex !important;
  justify-content: space-between !important;
  width: 100% !important;
  background-color: #1a1a1a;
  color: #fff;
}

nav ul{
  width: 100%;
  display: flex;
  justify-content: end;
  align-content: flex-end;
}

nav li{
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  justify-self: flex-end;
  align-self: flex-end;
  margin-right: 25px;
}

.events{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#calendar{
  width: 60%;
}

.eventList{
  padding: 15px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #1a1a1a;
  color: #fff;
}

.eventList h2{
  text-decoration: underline;
  font-size: 1.7rem;
}

nav a{
  color: #fff;
  text-decoration: none;
}

#navbarNav{
  width: 30%;
}

.logo{
  width: 5%;
}
img{
  width: 100%;
}

// __________
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
  margin: 0 auto;
  margin-top: 125px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #00bfff;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  // background-color: #00bfff;
}

.message, 
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.signin a {
  color: #00bfff;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
  background-color: #00bfff;
}

.submit:hover {
  background-color: #00bfff96;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

// __________

.parent{
  display: flex;
  justify-content: space-between;
  padding-top: 85px;
  width: 100%;
  margin: 0 auto;
}

.readEvents {
  // border: 1px solid black;
  padding: 15px;
  border-radius: 10px;
  box-shadow: -2px 9px 25px 0px rgba(0,0,0,0.39);
  -webkit-box-shadow: -2px 9px 25px 0px rgba(0,0,0,0.39);
  -moz-box-shadow: -2px 9px 25px 0px rgba(0,0,0,0.39);
  background-color: #1a1a1a;
  color: #fff;
}

.img{
  width: 100%;
  border-radius: 15px;
  height: 10vh;
}

.img img{
  width: 100%;
  border-radius: 10px;

}

